
.slides-box {
	
    width: 100%;
    height: 420px;
    margin: auto;
    
    overflow: hidden;
}
/* ¸ß420px,¿íÕ´Âú£¬¾ÓÖÐ */
.slides {
    position: absolute;
    height: 420px;
    width: 100%;
    margin: auto;
    float: left;
}
.slides li {
	position: absolute;
    width:  100%;
    height: 100%;
}
.slides li img{
    display: block;
    width: 100%;
    margin: auto;
}

/* ¾àÀëµ×²¿20px */
.pagination{
	position: absolute;
	top:480px;
	z-index: 99;
}
.pagination li{
    margin:0px 5px;
	float: left;
}
.pagination li a{
    display: block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 10px;
    background: #000;
    opacity:0.5;
    text-align: center;
	text-decoration: none;
}
.pagination .active{
	background: red;
	opacity:0.8;
}