@charset "utf-8";

img {
	border: none;
	max-width:100%;
}
button:hover {
	cursor: pointer;
}
.text-right {
	text-align: right;
}
/*----------- 关于我们---------*/
.list-inline,.listicon-about> li {
	display: inline-block;
}
.bg-about {
	background: url(../images/bg-about.jpg) no-repeat;
	padding: 70px 0px 134px;
	float: left;
	width: 100%;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}
.title22{
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	margin: 0px;
}
.title-small2 {
	font-size: 14px;
    color: #fff;
    margin: 5px 0px 70px;
    font-weight: normal;
}
.listicon-about> li >a {
	display: block;
	width: 125px;
}
.listicon-about> li {
	margin-left: 35px;
	float: left;
}
.listicon-about> li> a> h4 {
	font-weight: normal;
	color: #fff;
	font-size: 16px;
}
.icon-about {
	background: url(../images/about/icon-zdvc.png) no-repeat;
	background-size: 100% 125px;
}
.listicon-about> li:hover .icon-about {
	background: url(../images/about/icon-hover-zdvc.png) no-repeat;
	background-size: 125px 125px;
}
.icon-about2 {
	background: url(../images/about/icon-founder.png) no-repeat;
	background-size: 125px 125px;
}
.listicon-about> li:hover .icon-about2 {
	background: url(../images/about/icon-hover-founder.png) no-repeat;
	background-size: 125px 125px;
}

.icon-about3 {
	background: url(../images/about/icon-philosophy.png) no-repeat;
	background-size: 100% 125px;
}
.listicon-about> li:hover .icon-about3 {
	background: url(../images/about/icon-hover-philosophy.png) no-repeat;
	background-size: 100% 125px;
}

.icon-about4 {
	background: url(../images/about/icon-service.png) no-repeat;
	background-size: 125px 125px;
}
.listicon-about> li:hover .icon-about4 {
	background: url(../images/about/icon-hover-service.png) no-repeat;
	background-size: 125px 125px;
}

.icon-about5 {
	background: url(../images/about/icon-system.png) no-repeat;
	background-size: 125px 125px;
}
.listicon-about> li:hover .icon-about5 {
	background: url(../images/about/icon-hover-system.png) no-repeat;
	background-size: 100% 125px;
}
.icon-about6 {
	background: url(../images/about/icon-mentor.png) no-repeat;
	background-size: 100% 125px;
}
.listicon-about> li:hover .icon-about6 {
	background: url(../images/about/icon-hover-mentor.png) no-repeat;
	background-size: 100% 125px;
}
.listicon-about> li:hover h4,.listicon-about2> li:hover h4,.listicon-about3> li:hover h4,.listicon-about4> li:hover h4{
	color: #1cd3af;
}
.icon-desc {
	padding-top: 139px;
}
/*----------- 关于我们---------*/

/*-------- 最新报道 ------*/
.jCarouselLite {
	margin: auto;
}
.bg-gray {
	background: #f8f8f8
}
.news-media {
	padding: 33px 0px 32px;
}

.news-article {
	display: inline-block;
	text-align: left;
}
.news-article li {
	width: 303px;
	padding-bottom: 20px;
	background: #fff;
	margin: 0px auto;
	border: 2px solid transparent;
	margin-right: 40px;
	display: inline-block;
}
.news-article li:hover {
	border: 2px solid #1cd3af;
}
.news-article li img {
	width: 100%;
	height: 227px;
}
.media-desc {
	padding: 20px 12px 0px;
}
.media-desc h4 {
	margin: 0px auto 10px;
	font-size: 16px;
	color: #464646;
	font-weight: normal;
}
.media-desc p {
	margin: 0px;
	color: #686868;
	font-size: 14px;
	line-height: 30px;
}
.slider-control {
	padding-top: 18px;
	
}
.slider-control button,.slider-control button:focus {
	background: #bfbfbf;
	width: 20px;
	height: 8px;
	border: none;
	margin: 0px 5px;
	border-radius: 5px;
	outline: none;
}
.slider-control>.active {
	background: #1cd3af !important;
}
/*-------- 最新报道 ------*/

/*------------------ begin关于我们导师 ------------*/
.margin-bottom-34 {
	margin-bottom: 34px;
}
.mentor-list {
	text-align: center;
	margin: 0px 25px 34px 0px;
	border: 1px solid #dadada;
	display: inline-block;
	float: left/0;
}
.wrap-mentor {
	width: 174px;
}
.mentor-img {
    height: 176px;
    width: 100%;
    text-align: center;
}
.mentor-name {
	font-size: 18px;
    margin: 10px auto;
    color: #2bb597;
}
.padding-bottom-15 {
	    padding-bottom: 15px;
}
.f-14 {
	font-size: 14px;
	font-weight: normal;
}
/*------------------ end关于我们导师 ------------*/

